<ng-container *ngFor="let item of postsArray">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" id="my_list">
      {{item.title}}
      <div>
        <button type="button" class="btn btn-danger me-2" (click)="deletePostById(item.id)">Delete</button>
        <button type="button" class="btn btn-warning me-2" (click)="selectPostById(item.id)">Edit</button>
        <a class="btn btn-success" [routerLink]="['/view-post', item.id]">View</a>
      </div>
    </li>
  </ul>
</ng-container>

